/* BEGIN RESET */
* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
/* END RESET */

/*** general rulez ***/
body {
  background: url(../img/background.png);
}
.container {
  width: 1024px;
  margin: auto;
  padding: 20px;
}
/*** end general rulez ***/

/***** header ******/

/* head */
header .head {
  position: relative;
  background: url(../img/background-header.jpg);
  height: 250px;
  width: 100%;
  border: 10px solid white;
}
header .head .logo {
  text-align: center;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }
header .head .logo .tittle {
  font-size: 60px;
  border: 5px solid white;
  text-align: center;
  margin: auto;
  width: 70%;
}
header .head .logo .sub-tittle {
  font-size: 25px;
  padding-top: 25px;
}
/* end head */

/* menu */
header .low {
  background: grey;
  padding: 20px;
}
header .low .menu {
  text-align: center;
  list-style-type: none;
}
header .low .menu li {
  display: inline-block;
  margin: 0 10px;
}
header .low .menu a {
  text-decoration: none;
  color: white;
}
/* end menu */
/***** end header ******/

/***** main ******/
main {
  margin: 10px 0;
}
/** vertical columns **/
main .col {
  float: left;
}
main::after {
  content: "";
  display: table;
  clear: both;
}

/* column left */
main .left {
  padding: 10px;
  background: white;
  height: 50%;
  width: 20%;
}
main .left .tittle .logo {
  vertical-align: middle;
  height: 20px;
  width: 20px;
}
main .left .tittle .text {
  font-size: 1.17em;
  font-weight: bold;
}
main .left p {
  padding: 10px 0;
}
/* end column left */

/* column center */
main .center {
  background: white;
  padding: 10px;
  width: 50%;
  margin: 0 5%;
}
main .center p {
  padding: 20px 0;
}
/* end column center */

/* column right */
main .right {
  height: 100%;
  width: 20%;
}
/** end vertical columns **/


/* horizontal columns */
main .right .col {
  padding: 10px;
  width: 100%;
  margin-bottom: 10%;
  background: white;
}
/* end horizontal columns */
/* end column right */

/***** end main ******/

/***** footer ******/
footer {
  position: relative;
  height: 150px;
  background: white;
  text-align: center;
}
footer .filter {
  position: absolute;
  width: 100%;
  height:100%;
  background-color: rgba(0, 0, 0, 0.2);
}
footer .made {
  color: grey;
}
footer .social .icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 120px;
  margin-top: 50px;
}
/***** end footer ******/
